In [34]:
# Задание 16. Базовые понятия статистики
# Задание 1.
# Выбраны скедуюющие параметры
# 2:  Age -- Nominal
# 4:  rectal temperature -- numeric continuous (NC)
# 5:  pulse -- NC
# 7:  temperature of extremities -- Nominal (Nom)
# 9:  mucous membranes -- Niminal (N)
# 11: pain - Nominal (Nom)
# 12: peristalsis -- Nominal (Nom)
# 13: abdominal distension -- Ordinal (Nom)

In [109]:
import pandas as pd
import numpy as np

In [110]:
# Выводы:
#     'age' -- в данных опечатка: вместо '2' стоит значение '9', следует заменить, 
#      тогда ср.значение, медиана и мода == 1. 
#     'rec_temp', 'pulse' - средняя ректальная температура 38.16 градусов, пульс 71.93 медиана=64), 
#     'extr_temp' - ср. температура конечностей: 2 - 'теплые', значение медианы=3 (холодные)
#     'muc_membranes' -- ср. ззначение 2.85 (медиана = 3) - слизистые бледно-розовоые
#     'pain' -- ср. уровень боли, ближе к 1 ('normal'), то есть без болевого синдрома
#     'peristalsis' -- ср. значение 2.9 (медиана = 3)-- показатель гипомотильного состояния
#     'abd_dist' -- ср. значение 2.26 (медиана = 2)-- легкий запор 

horse_data = pd.read_csv('horse_data.csv',na_values=['?', 'NaN', 'NAN', None, np.nan, np.NaN, np.NAN])

selected_categories = [1, 3, 4, 6, 8, 9, 11, 12]
df = horse_data.iloc[:, selected_categories ]
columns = ['age', 'rec_temp', 'pulse', 'extr_temp', 'muc_membranes', 'pain', 'peristalsis', 'abd_dist']
df.columns = columns
description = df.describe()

description

,age,rec_temp,pulse,extr_temp,muc_membranes,pain,peristalsis,abd_dist
count,299.00000,239.000000,275.000000,243.000000,253.000000,267.000000,255.000000,243.000000
mean,1.64214,38.166527,71.934545,2.345679,2.853755,1.303371,2.913725,2.259259
std,2.17730,0.733508,28.680522,1.046369,1.620294,0.476623,0.976298,1.061472
min,1.00000,35.400000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.00000,37.800000,48.000000,1.000000,1.000000,1.000000,3.000000,1.000000
50%,1.00000,38.200000,64.000000,3.000000,3.000000,1.000000,3.000000,2.000000
75%,1.00000,38.500000,88.000000,3.000000,4.000000,2.000000,4.000000,3.000000
max,9.00000,40.800000,184.000000,4.000000,6.000000,3.000000,4.000000,4.000000

In [111]:
# заменим ошибочное значение '9' на '2'
df.age.replace(9, 2, inplace=True)
df.head(10)

C:\Users\DoctorO\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   age  rec_temp  pulse  extr_temp  muc_membranes  pain  peristalsis  abd_dist
0    1      39.2   88.0        NaN            4.0   1.0          4.0       2.0
1    1      38.3   40.0        1.0            3.0   1.0          3.0       1.0
2    2      39.1  164.0        4.0            6.0   2.0          4.0       4.0
3    1      37.3  104.0        NaN            6.0   2.0          NaN       NaN
4    1       NaN    NaN        2.0            3.0   1.0          3.0       2.0
5    1      37.9   48.0        1.0            1.0   1.0          3.0       3.0
6    1       NaN   60.0        3.0            NaN   1.0          4.0       2.0
7    1       NaN   80.0        3.0            3.0   1.0          4.0       4.0
8    2      38.3   90.0        1.0            1.0   1.0          3.0       1.0
9    1      38.1   66.0        3.0            5.0   1.0          3.0       1.0

In [41]:
# посмотрим, сколько лошадей с повышенной температурой или сердцебиением
print(len(df))
# чуть больше половины лошадей с повышенно температурой
print(df[df.rec_temp > 37.8].count())

# и почти все с повышенным пульсом
df[ (df.rec_temp > 37.8) | (df.pulse > 40)].count()
df[ df.pulse > 40 ].count()

299
age              166
rec_temp         166
pulse            160
extr_temp        140
muc_membranes    143
pain             152
peristalsis      149
abd_dist         138
dtype: int64

age              251
rec_temp         212
pulse            251
extr_temp        212
muc_membranes    220
pain             233
peristalsis      225
abd_dist         212
dtype: int64

In [101]:
# посчитаем значение медианы
meadian_vals = df.median()
meadian_vals

age               1.0
rec_temp         38.2
pulse            64.0
extr_temp         3.0
muc_membranes     3.0
pain              1.0
peristalsis       3.0
abd_dist          2.0
dtype: float64

In [43]:
mode_vals = df.mode()
mode_vals

   age  rec_temp  pulse  extr_temp  muc_membranes  pain  peristalsis  abd_dist
0    1      38.0   48.0        3.0            1.0   1.0          3.0       1.0

In [45]:
# Задание 2. Выбросы.
# В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах 
# и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.
# На основании результатов применения функции describe()к данным df можно заключить, 
# что в столбцах категориальных величин 'pulse', 'extr_temp', 'muc_membranes', 'pain', 'peristalsis', 'abd_dist'
# нет выбросов

In [115]:
# Анализ выбросов для столбца 'age'
df.age.head()

firstQ = df.age.quantile(0.25)
thirdQ = df.age.quantile(0.75)

IQR = thirdQ - firstQ
low_outlier = firstQ - 1.5*IQR
high_outlier = thirdQ + 1.5*IQR

print(low_outlier)
print(high_outlier)

# данные о молодых лошадях (24 строки) нужно оставить
# превалируют данные о взрослых лошадях: болеют в основном старенькие лошадки
# низких выбросов нет
print(df.age[ df.age > high_outlier].count())
print(df.age[ df.age < low_outlier].count())

1.0
1.0
24
0

In [116]:
# Анализ выбросов для столбца 'pulse'

firstQ = df.pulse.quantile(0.25)
thirdQ = df.pulse.quantile(0.75)

IQR = thirdQ - firstQ
low_outlier = firstQ - 1.5*IQR
high_outlier = thirdQ + 1.5*IQR

print(low_outlier)
print(high_outlier)

# 5 выбросов -- исходя из других показателей, можно сделать вывод, что причиной выбросов яляется
# наличие данных об очень больных животных
# поскольку количество выросов мало: 1.7%, то можно их оставить

print(f'Number of high outliers: {df.pulse[ df.pulse > high_outlier].count()}')

# no low outliers
print(f'Number of low outliers: {df.pulse[ df.pulse < low_outlier ].count()}')

# у большинства лошаде повышенный пульс, у 5 очень высокий. Но это естесственные выбросы, 
# связанные с болезнье, следует оставить в данных
print(f'Number of horses with elevated pulse: {df.pulse[ df.pulse > 40 ].count()}')

-12.0
148.0
Number of high outliers: 5
Number of low outliers: 0
Number of horses with elevated pulse: 251

In [121]:
# Анализ выбросов для столбца 'rec_temp' 
# выбросов нет
firstQ = 0.5*df.rec_temp.median()
thirdQ = 1.25*df.rec_temp.median()
IQR = thirdQ - firstQ
low_outlier = firstQ - 1.5*IQR
high_outlier = thirdQ + 1.5*IQR


print(low_outlier)
print(high_outlier)

# no low/high outliers
print(df.rec_temp[ df.rec_temp > high_outlier])
print(df.rec_temp[ df.rec_temp < low_outlier])

-23.874999999999993
90.725
Series([], Name: rec_temp, dtype: float64)
Series([], Name: rec_temp, dtype: float64)

In [106]:
# Задание 3. Работа с пропусками
# Рассчитать количество пропусков для всех выбранных столбцов. 
# Принять и обосновать решение о методе работы с пропусками по каждому столбцу, 
# сформировать датафрейм, в котором пропуски будут отсутствовать.

# Количество пропусков не превышает 60, то есть чуть больше 21% от размера данных. 
# К тому же, есть строки, в которых имеются пропуски для всех или нескольких столбцов, 
# например, df.iloc[27,:], df.iloc[86,:]
# В такой ситуации можно рассматривать пропуски как MCAR. Их следует оставить

In [118]:
# нет пропусков в столбце 'age'
print(len(df.loc[pd.isnull(df.age), :]))

0

In [51]:
# 60 пропусков в столбце 'rec_temp'
# можно заменить на значение медианы 'rec_temp'
print(len(df.loc[pd.isnull(df.rec_temp), :]))

60

In [119]:
# Заменим пропуски на медианное значение величины 'rec_temp'. 

na_values=['?', 'NaN', 'NAN', None, np.nan, np.NaN, np.NAN]

med_val = df.rec_temp.median()
df.rec_temp.replace(na_values, med_val, inplace=True)

df.rec_temp.replace(na_values, med_val, inplace=True)
print(f'Значение медианы после замены пропусков: {df.rec_temp.median()}')
df.head()

Значение медианы после замены пропусков: 38.2

C:\Users\DoctorO\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   age  rec_temp  pulse  extr_temp  muc_membranes  pain  peristalsis  abd_dist
0    1      39.2   88.0        NaN            4.0   1.0          4.0       2.0
1    1      38.3   40.0        1.0            3.0   1.0          3.0       1.0
2    2      39.1  164.0        4.0            6.0   2.0          4.0       4.0
3    1      37.3  104.0        NaN            6.0   2.0          NaN       NaN
4    1      38.2    NaN        2.0            3.0   1.0          3.0       2.0

In [120]:
# 24 пропускa в столбце 'pulse'
print(len(df.loc[pd.isnull(df.pulse), :]))

24

In [86]:
med_val = df.pulse.median()
print(f'Значение медианы до замены пропусков: {med_val}')

df.pulse.replace(na_values, med_val, inplace=True)
print(f'Значение медианы после замены пропусков: {df.pulse.median()}')
df.head()

Значение медианы до замены пропусков: 64.0
Значение медианы после замены пропусков: 64.0

C:\Users\DoctorO\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   age  rec_temp  pulse  extr_temp  muc_membranes  pain  peristalsis  abd_dist
0    1      39.2   88.0        NaN            4.0   1.0          4.0       2.0
1    1      38.3   40.0        1.0            3.0   1.0          3.0       1.0
2    2      39.1  164.0        4.0            6.0   2.0          4.0       4.0
3    1      37.3  104.0        NaN            6.0   2.0          NaN       NaN
4    1      38.2   64.0        2.0            3.0   1.0          3.0       2.0

In [84]:
# 46 пропусков в столбце 'muc_membranes'
print(len(df.loc[pd.isnull(df.muc_membranes), :]))

46

In [87]:
med_val = df.muc_membranes.median()
print(f'Значение медианы до замены пропусков: {med_val}')

df.muc_membranes.replace(na_values, med_val, inplace=True)
print(f'Значение медианы после замены пропусков: {df.muc_membranes.median()}')
df.head()

Значение медианы до замены пропусков: 3.0
Значение медианы после замены пропусков: 3.0

C:\Users\DoctorO\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   age  rec_temp  pulse  extr_temp  muc_membranes  pain  peristalsis  abd_dist
0    1      39.2   88.0        NaN            4.0   1.0          4.0       2.0
1    1      38.3   40.0        1.0            3.0   1.0          3.0       1.0
2    2      39.1  164.0        4.0            6.0   2.0          4.0       4.0
3    1      37.3  104.0        NaN            6.0   2.0          NaN       NaN
4    1      38.2   64.0        2.0            3.0   1.0          3.0       2.0

In [135]:
# 44 пропускa в столбце 'peristalsis'
print(len(df.loc[pd.isnull(df.peristalsis), :]))

44

In [88]:
med_val = df.peristalsis.median()
print(f'Значение медианы до замены пропусков: {med_val}')

df.peristalsis.replace(na_values, med_val, inplace=True)
print(f'Значение медианы после замены пропусков: {df.peristalsis.median()}')
df.head()

Значение медианы до замены пропусков: 3.0
Значение медианы после замены пропусков: 3.0

C:\Users\DoctorO\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   age  rec_temp  pulse  extr_temp  muc_membranes  pain  peristalsis  abd_dist
0    1      39.2   88.0        NaN            4.0   1.0          4.0       2.0
1    1      38.3   40.0        1.0            3.0   1.0          3.0       1.0
2    2      39.1  164.0        4.0            6.0   2.0          4.0       4.0
3    1      37.3  104.0        NaN            6.0   2.0          3.0       NaN
4    1      38.2   64.0        2.0            3.0   1.0          3.0       2.0

In [136]:
# 56 пропусков в столбце 'abd_dist'
print(len(df.loc[pd.isnull(df.abd_dist), :]))

56

In [89]:
med_val = df.abd_dist.median()
print(f'Значение медианы до замены пропусков: {med_val}')

df.abd_dist.replace(na_values, med_val, inplace=True)
print(f'Значение медианы после замены пропусков: {df.abd_dist.median()}')
df.head()

Значение медианы до замены пропусков: 2.0
Значение медианы после замены пропусков: 2.0

C:\Users\DoctorO\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   age  rec_temp  pulse  extr_temp  muc_membranes  pain  peristalsis  abd_dist
0    1      39.2   88.0        NaN            4.0   1.0          4.0       2.0
1    1      38.3   40.0        1.0            3.0   1.0          3.0       1.0
2    2      39.1  164.0        4.0            6.0   2.0          4.0       4.0
3    1      37.3  104.0        NaN            6.0   2.0          3.0       2.0
4    1      38.2   64.0        2.0            3.0   1.0          3.0       2.0

In [94]:
# 32 пропусков в столбце 'pain'
print(len(df.loc[pd.isnull(df.pain), :]))

0

In [92]:
med_val = df.pain.median()
print(f'Значение медианы до замены пропусков: {med_val}')

df.pain.replace(na_values, med_val, inplace=True)
print(f'Значение медианы после замены пропусков: {df.pain.median()}')
df.head()

Значение медианы до замены пропусков: 1.0
Значение медианы после замены пропусков: 1.0

C:\Users\DoctorO\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   age  rec_temp  pulse  extr_temp  muc_membranes  pain  peristalsis  abd_dist
0    1      39.2   88.0        NaN            4.0   1.0          4.0       2.0
1    1      38.3   40.0        1.0            3.0   1.0          3.0       1.0
2    2      39.1  164.0        4.0            6.0   2.0          4.0       4.0
3    1      37.3  104.0        NaN            6.0   2.0          3.0       2.0
4    1      38.2   64.0        2.0            3.0   1.0          3.0       2.0

In [97]:
# 56 пропусков в столбце 'extr_temp'
print(len(df.loc[pd.isnull(df.extr_temp), :]))

56

In [98]:
med_val = df.extr_temp.median()
print(f'Значение медианы до замены пропусков: {med_val}')

df.extr_temp.replace(na_values, med_val, inplace=True)
print(f'Значение медианы после замены пропусков: {df.extr_temp.median()}')
df.head()

Значение медианы до замены пропусков: 3.0
Значение медианы после замены пропусков: 3.0

C:\Users\DoctorO\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   age  rec_temp  pulse  extr_temp  muc_membranes  pain  peristalsis  abd_dist
0    1      39.2   88.0        3.0            4.0   1.0          4.0       2.0
1    1      38.3   40.0        1.0            3.0   1.0          3.0       1.0
2    2      39.1  164.0        4.0            6.0   2.0          4.0       4.0
3    1      37.3  104.0        3.0            6.0   2.0          3.0       2.0
4    1      38.2   64.0        2.0            3.0   1.0          3.0       2.0

In [100]:
# пропусков нет
df.describe()

,age,rec_temp,pulse,extr_temp,muc_membranes,pain,peristalsis,abd_dist
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.080268,38.173244,71.297659,2.468227,2.876254,1.270903,2.926421,2.210702
std,0.272162,0.655657,27.586016,0.976997,1.490936,0.460000,0.901865,0.961901
min,1.000000,35.400000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,37.900000,48.000000,1.000000,1.000000,1.000000,3.000000,1.000000
50%,1.000000,38.200000,64.000000,3.000000,3.000000,1.000000,3.000000,2.000000
75%,1.000000,38.500000,88.000000,3.000000,4.000000,2.000000,3.000000,3.000000
max,2.000000,40.800000,184.000000,4.000000,6.000000,3.000000,4.000000,4.000000