In [85]:
## Домашнее задание 12. Функции pandas. ОГ
## Задание 1.

import pandas as pd

def rate_movie(rt_str):
    """
    классифицирует фильмы по следующим правилам:
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг
    - оценка 4.5 и 5 - высокий рейтинг
    """
    
    rt_num = float(rt_str)
    if rt_num <= 2.0:
        return 'низкий рейтинг'
    elif rt_num > 2.0 and rt_num <= 4.0:
        return 'средний рейтинг'
    elif rt_num > 4.5 and rt_num <= 5.0:
        return 'высокий рейтинг'
    else:
        "нет ретинга"

ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings['class'] = ratings.rating.apply(rate_movie)
ratings.head(10)

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг
5       1     1263     2.0  1260759151   низкий рейтинг
6       1     1287     2.0  1260759187   низкий рейтинг
7       1     1293     2.0  1260759148   низкий рейтинг
8       1     1339     3.5  1260759125  средний рейтинг
9       1     1343     2.0  1260759131   низкий рейтинг

In [82]:
## Задание 2.

import re
import pandas as pd

moscow = r'\bмоск[а-я]+'
yarik = r'\bярослав[льскиемюя]+'
tula = r'\bтул[аеиойьск]+\b'   
piter = r'\bпетер[бургскиеуом]+'
pskov = r'\bпсков[а-я]+'
murmansk = r'\bмурман[а-я]+'
vladik = r'\bвладивост[а-я]+'
sakhalin = r'\bсахалин[а-я]+'
khabarovsk = r'\bхабаров[а-я]+'

patterns = [moscow, tula, yarik, piter, pskov, murmansk, vladik, sakhalin, khabarovsk]

def find_geo_data(pattern):
    for key, value in geo_data.items():
        if re.findall(pattern, str(value)):
            return key
        else:
            continue



def find_key_(keyword):#, patterns):
#     print(pattern)

    for pattern in patterns:
        if re.findall(pattern, keyword):
            return find_geo_data(pattern)
    return 'undefined'

keywords = pd.read_csv('ml-latest-small/keywords.csv')
keywords['region'] = keywords['keyword'].apply(find_key_)

In [83]:
keywords['region'].unique()
keywords['region'].nunique()
keywords['region'].value_counts()

undefined         98692
Центр               950
Северо-Запад        252
Дальний Восток       88
Name: region, dtype: int64